
@{
    ViewBag.Title = "Index";
}

<div class="welcome-main">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="project-title heading-title">Welcome to DD Service</div>
                @Html.ActionLink("Create Project", "Create", "Project", new { @class = "create-btn btn-custom" })
            </div>
        </div>
    </div>
</div>

