body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-custom {
    background-color: #FFEB00;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
    font-size: 16px;
}



.welcome-main {
    display: flex;
    align-items: center;
    color: #fff;
    background-image: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 56px);
}

.btn-custom:hover {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.52);
    color: #212529;
    text-decoration: none;
}

.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #F5F5F5;
}

.btn {
    padding: 10px 20px;
}

.create-btn {
    color: #000;
    font-size: 28px;
    font-weight: lighter;
    background-color: #FFEB00;
}

.heading-title {
    word-spacing: 2px;
    font-size: 36px;
    font-weight: bold;
}

.project-title {
    margin-bottom: 30px;
}

.main-footer {
    padding: 16px 0px;
    background-color: #2D2D2B;
    color: #fff;
}

.project-list {
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    padding: 10px;
    margin: 5px 0;
}

.project-list span {
    padding: 0 10px;
}

.project-users {
    background-color: #F1F1F1;
    padding: 5px 0;
    height: calc(100vh - 56px);
}

.project-users p {
    font-size: 18px;
    position: relative;
}

.project-info {
    -webkit-box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.33);
    box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.33);
    padding: 8px;
}

.users-list ul{
    padding: 0;
}

.users-list ul > li {
    padding: 5px 0;
    cursor: pointer;
}

.users-list ul li:hover {
    background-color: #cecece;
}

.user-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.project-task > div {
    display: inline-block;
    padding-right: 20px;
}

.project-task {
    padding: 10px;
    background-color: #F1F1F1;
    margin-bottom: 10px;
}

.task-name span, .task-user span, .task-status span{
    font-weight: bold;
    font-size: 16px;
}

